source https://api.nuget.org/v3/index.json
source https://www.nuget.org/api/v2/

redirects: on
nuget Microsoft.Data.Services.Client 5.6.4 framework: >= net45
nuget Microsoft.WindowsAzure.ConfigurationManager 3.1.0 framework: >= net45
nuget Suave
nuget WindowsAzure.Storage 5.0.0 framework: >= net45